.feature-item {
    width:10em;
}

.feature-item-container {
    width:100%;
}

/*.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}*/

article, aside, footer, header, hgroup, main, nav, section{
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67;
    -webkit-margin-after: 0.67;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#blanket {
  margin-left: auto;
  margin-right: auto;
  background-color: #898989;
  max-width: 1080px;
  border: 1px solid red;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
}

#page {
 background-image: url("../images/wht-bg.jpg");
    background-repeat: repeat;
}

img{
    border: 3px solid orange;
}