

.feature-item {
  width:33.333%;
  border: 1px solid rgba(0,0,0,0.5);
   border-radius: 10px 10px 2px 2px;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  margin-bottom: 16px;
  margin-top: 8px;
}

.feature-item-container {
    width:100%;
    margin: 0 auto;
}

article, aside, footer, header, hgroup, main, nav, section{
    display: block;
}

h1 {
    display: block;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: .5em;
     text-shadow:
    1px -1px 0 #000,
    1px 1px 0 #ffb74d;
}

h3 {
    display: block;
    font-size: 2.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
     text-shadow:
    1px -1px 0 #000,
    1px 1px 0 #ffb74d;
}

h4 {
   text-shadow:
    1px -1px 0 #000,
    1px 1px 0 #ffb74d;
}

figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
     text-shadow:
    1px -1px 0 #000,
    1px 1px 0 #ffb74d;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
     text-shadow:
    1px -1px 0 #000,
    1px 1px 0 #ffb74d;
}

#blanket {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(138, 138, 138, 0.15);
  max-width: 1080px;
  border: 1px solid red;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
}

#page {
 background-image: url("../images/wht-bg.jpg");
    background-repeat: repeat;
}

img{
  margin-top: 12px;
  border-radius: 8px;
}